<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ambulance System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <!--fontawesome-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--bs4-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--字型-->
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:500&display=swap" rel="stylesheet">
        <!--本地css-->
		{% load static %}
		<link rel="stylesheet" media="all" type="text/css" href="{% static 'webpage/main.css' %}">
	</head>
	<body class="is-preload">
<!-- Header -->
    <header id="header">
        <a class="logo" href="/index">Ambulance System<i class="icon fa-home"></i></a>
            <nav>
                <a href="#menu">選單</a>
            </nav>
    </header>
    <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					{% if user.is_authenticated %}
						<form method="POST" action='/adminmain/'>
							<ul class="btn-view-f">
								<li><strong>管理者帳號: {{user.username}} </strong> </li>
								<br>
								<li><button class="btn inputbtn" >管理介面</button></li>
								<br>
								{% csrf_token %}
							</ul>
						</form>
						<form method="POST" action="/logout/">
							<ul class="btn-view-f">
					  			<li><button class="btn inputbtn">登出系統</button></li>
				  	  			{% csrf_token %}
				  			</ul>
						</form>
					{% else %}
						<form action="/sign/" method="POST" id="loginform">
						<ul class="btn-view">
        					{% csrf_token %}
							<li>
								<label class="small" for="username">管理者帳號:</label>
								<input name="username" type="text" id="username" required />
							</li>
							<li>
								<label class="small" for="password">管理者密碼:</label>
								<input name="password" type="password" id="password" required />
          					</li>
							<br>
							<input type="submit" class="inputbtn" value="登入系統" />
							{% if messages %}
								<span style="color:red">{{messages}}</span>
        						<script>
									alert("{{messages}}");
        						</script>
   							{% endif %}
						</ul>
						</form>
					{% endif %}
				</ul>
			</nav>

    <div class="inner1">
        <table >
        <caption><h2>顯示"{{user.username}}"的所有資料</h2></caption>
        <table border="1" cellpadding="0" cellspacing="0">
            <thead>

              <tr>
                    <th colspan="1" >地點</th>
                    <th colspan="1" >發生時間</th>
                    <th colspan="1" >嚴重程度</th>
                    <th colspan="1" >是否正在處理</th>
                    <th colspan="1" >路線規劃</th>
               </tr>

            </thead>
            <tbody>
                {% for TrafficConditionLog in car_accidents %}
                    <tr>
                        <td  colspan="1" >{{ TrafficConditionLog.Monitor.Location.Name }} </td>
                        <td  colspan="1" >{{ TrafficConditionLog.Datetime }} </td>
                        <td  colspan="1" >{{ TrafficConditionLog.TrafficCondition.Name}} </td>
                        <td  colspan="1" >{{ TrafficConditionLog.Processed }} </td>
                        <td  colspan="1" ><input name="button1" type="button" value="路線" onclick="window.location='/schedule/'+{{ TrafficConditionLog.id}}"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

		<!-- Scripts -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/jquery.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/browser.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/breakpoints.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/util.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/main.js' %}"></script>


	</body>
</html>