<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <title>Ambulance System 管理</title>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% load static %}
    <link media="all" type="text/css" href="{% static 'webpage/css/chartist.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link media="all" type="text/css" href="{% static 'webpage/css/style.min.css' %}" rel="stylesheet">
    <!--fontawesome-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

</head>

<body>


    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <a href="/adminmain" class="logo">
                            <span class="logo-text">
                                <!-- Light Logo text -->
                                <img src="{%static 'webpage/images/home.png' %}" class="light-logo" alt="homepage" />
                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin6">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box" >
                            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                                <div class="d-flex align-items-center" style="width: 300px;">
                                    <i class="mdi mdi-magnify font-20 mr-1"></i>
                                    <div class="ml-1 d-none d-sm-block" >
                                        <span>搜尋</span>
                                    </div>
                                </div>
                            </a>
                            <form class="app-search position-absolute" method="POST">
                                {% csrf_token %}
                                <input type="text" name = "location_name" class="form-control" placeholder="Search &amp; enter">
                                <button type="submit" class="btn btn-light btn-lg">搜尋</button>
                                <a class="srh-btn">
                                    <i class="ti-close"></i>
                                </a>

                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/adminmain" aria-expanded="false">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">未結案車禍</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/adminfinish" aria-expanded="false">
                                <i class="mdi mdi-av-timer"></i>
                                <span class="hide-menu">已結案車禍</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admintable" aria-expanded="false">
                                <i class="mdi mdi-border-none"></i>
                                <span class="hide-menu">手動新增資料</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/logout" aria-expanded="false">
                                <i class="mdi mdi-alert-outline"></i>
                                <span class="hide-menu">登出</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">修改資料</h4>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex align-items-center justify-content-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">修改資料</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card card-body">
                            <form class="form-horizontal m-t-30"method="POST" action='/editdata/{{car_accident.id}}'>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="location">地點:{{car_accident.Location.CountryName}}{{car_accident.Location.Name}}</label>
                                   
                                </div>
                                <div class="form-group">
                                    <label for="time">發生時間:{{car_accident.Datetime}}</label>
                                    
                                </div>
                                
                                <div class="form-group">
                                    <label for="unit">處理單位</label>
                                    <input type="" id="unit" name="unit_name" class="form-control" value="{{car_accident.ResponsibleUnit.Name}}" placeholder="">
                                </div>


                                <select  type="text" id="size" name="size">
                                     <option selected="true" id="size" value="{{car_accident.TrafficCondition.Name}}">{{car_accident.TrafficCondition.Name}}</option>
                                     <option id="size" value="大型車禍">大型車禍</option>
                                     <option id="size" value="小型車禍">小型車禍</option>
                                </select>

                                <select  type="checkbox" id="process" name="process">
                                    {% if car_accident.Processed %}
                                      <option selected="true" id="process" value="{{car_accident.Processed}}">正在處理</option>
                                    {% else %}
                                        <option selected="true" id="process" value="{{car_accident.Processed}}">未處理</option> 
                                    {% endif %}
                                    <option id="process" value="True">正在處理</option>
                                    <option id="process" value="False">未處理</option>
                                </select>

                                <select  type="checkbox" id="solved" name="solved">

                                    {% if car_accident.Solved %}
                                      <option selected="true" id="process" value="{{car_accident.Solved}}">處理完成</option>
                                    {% else %}
                                        <option selected="true" id="process" value="{{car_accident.Solved}}">尚未處理完成</option> 
                                    {% endif %}

                                    <option id="solved" value="True">處理完成</option>
                                    <option id="solved" value="False">尚未處理完成</option>
                                </select>

                                <button type="submit" class="btn btn-dark">提交</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script type="text/javascript" src="{% static 'webpage/js/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script type="text/javascript" src="{% static 'webpage/js/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'webpage/js/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script type="text/javascript" src="{% static 'webpage/js/assets/extra-libs/sparkline/sparkline.js' %}"></script>

    <!--Menu sidebar -->
    <script type="text/javascript" src="{% static 'webpage/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script type="text/javascript" src="{% static 'webpage/js/custom.min.js' %}"></script>

</body>

</html>