<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ambulance System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <!--fontawesome-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--bs4-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--字型-->
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:500&display=swap" rel="stylesheet">
        <!--本地css-->
		{% load static %}
		<link rel="stylesheet" media="all" type="text/css" href="{% static 'webpage/main.css' %}">
	</head>
	<body class="is-preload">
<!-- Header -->
    <header id="header">
        <a class="logo" href="/index">Ambulance System<i class="icon fa-home"></i></a>
            <nav>
                <a href="#menu">選單</a>
            </nav>
    </header>
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <form method="POST" action="/logout/">
                <ul class="btn-view-f">
                    <li><strong>管理者帳號: {{user.username}} </strong> </li>
                    <br>
                    <li><button class="btn inputbtn" ><a href="/admin/">管理介面</a></button></li>
                    <br>
                    <li><button class="btn inputbtn">登出系統</button></li>
                    {% csrf_token %}
                </ul>
            </form>
        </ul>
    </nav>

    <div class="inner1">
        <table >
        <caption><h1>信義區</h1></caption>
        <thead>

              <tr>
                    <th colspan="1" >地點</th>
                    <th colspan="1" >發生時間</th>
                    <th colspan="1" >嚴重程度</th>
                    <th colspan="1" >導航規劃</th>
               </tr>

        </thead>
        <tbody>

              <tr>
                  <th colspan="1" >test1</th>
                  <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                  <td colspan="1"  data-header="嚴重程度">大</td>
                  <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
              </tr>


                <tr>
                    <th colspan="1" >test2</th>
                    <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                    <td colspan="1"  data-header="嚴重程度">小</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
                </tr>

                <tr>
                  <th colspan="1" >test1</th>
                  <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                  <td colspan="1"  data-header="嚴重程度">大</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
                </tr>


                <tr>
                    <th colspan="1" >test2</th>
                    <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                    <td colspan="1"  data-header="嚴重程度">小</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
                </tr>

                <tr>
                  <th colspan="1" >test1</th>
                  <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                  <td colspan="1"  data-header="嚴重程度">大</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
              </tr>


                <tr>
                    <th colspan="1" >test2</th>
                    <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                    <td colspan="1"  data-header="嚴重程度">小</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
                </tr>

                <tr>
                  <th colspan="1" >test1</th>
                  <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                  <td colspan="1"  data-header="嚴重程度">大</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
                </tr>


                <tr>
                    <th colspan="1" >test2</th>
                    <td colspan="1"  data-header="發生時間">108/08/25/0800</td>
                    <td colspan="1"  data-header="嚴重程度">小</td>
                    <td colspan="1"  data-header="導航規劃"><a href="#"><i class="fas fa-map-marker-alt"></i></a></td>
                </tr>


            </tbody>
        </table>
    </div>

		<!-- Scripts -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/jquery.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/browser.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/breakpoints.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/util.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/main.js' %}"></script>


	</body>
</html>