<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>

<h2 id="ntfText" >就緒</h2></br>
<button type="button" class="btn btn-success" id="btnTerminalSvr">關閉伺服器</button>


<script>$.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});</script>

<script type="text/javascript">
$("#btnTerminalSvr").click(function(){
$.ajax({
url: './terminal_svr',
type: 'POST',
data: {},
dataType: 'json',
timeout: 10000,
success: function(result) {
if ( result.result == "post_success" ) {
$("#ntfText").html("發起成功");
}else {
$("#ntfText").html("重複發起了");
}
}
});
});
</script>





</body>
</html>