<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Ambulance System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <!--fontawesome-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--bs4-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!--字型-->
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:500&display=swap" rel="stylesheet">
        <!--本地css-->
		{% load static %}
		<link rel="stylesheet" media="all" type="text/css" href="{% static 'webpage/main.css' %}">
	</head>
	<body class="is-preload">
<!-- Header -->
    <header id="header">
        <a class="logo" href="/index">Ambulance System<i class="icon fa-home"></i></a>
            <nav>
                <a href="#menu">選單</a>
            </nav>
    </header>
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <form method="POST" action="/logout/">
                <ul class="btn-view-f">
                    <li><strong>管理者帳號: {{user.username}} </strong> </li>
                    <br>
                    <li><button class="btn inputbtn" ><a href="/admin/">管理介面</a></button></li>
                    <br>
                    <li><button class="btn inputbtn">登出系統</button></li>
                    {% csrf_token %}
                </ul>
            </form>
        </ul>
    </nav>

    <div class="inner1">
        <table >
        <h2>顯示{{location_country}} {{location_name}}的所有資料</h2>
        <table border="1" cellpadding="0" cellspacing="0">
            <th>地點</th><th>發生時間</th><th>嚴重性</th><th>負責單位</th>
            {% for TrafficConditionLog in car_accidents %}
                <tr>
                    <td>{{ TrafficConditionLog.Monitor.location }} </td>
                    <td>{{ TrafficConditionLog.Datetime }} </td>
                    <td>{{ TrafficConditionLog.TrafficCondition.Name}} </td>
                    <td>{{ TrafficConditionLog.ResponsibleUnit.Name }} </td>
                </tr>
            {% endfor %}
        </table>
    </div>

		<!-- Scripts -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/jquery.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/browser.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/breakpoints.min.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/util.js' %}"></script>
		{% load staticfiles %}
			<script src="{% static 'webpage/js/main.js' %}"></script>


	</body>
</html>